/**
 * The following styles get applied both on the front end and in the editor.
 */
@use "common/styles/vars";

// Custom properties
:root {
	--bloc-grid-gap: 2rem;
}

// Block styles
.bloc-grid {
	display: grid;
	grid-auto-flow: dense;

	&-gap {
		gap: var(--bloc-grid-gap);
	}

	// Columns for grids
	@for $i from 1 through vars.$columns {
		&-sm-#{$i} {
			grid-template-columns: repeat($i, 1fr);
		}
	}

	@each $breakpoint, $width in vars.$breakpoints {
		@media (min-width: $width) {
			@for $i from 1 through vars.$columns {
				&-#{$breakpoint}-#{$i} {
					grid-template-columns: repeat($i, 1fr);
				}

				&-column-#{$breakpoint}-#{$i} {
					grid-column: span $i;
				}

				&-row-#{$breakpoint}-#{$i} {
					grid-row: span $i;
				}
			}
		}
	}
}
