/**
 * The following styles get applied both on the front end and in the editor.
 */

// Custom properties
:root {
	--bloc-slider-gap: 2rem;
	--bloc-slider-speed: 250ms;
	--bloc-slider-theme: currentColor;
}

// Block styles
.bloc-slider {
	--swiper-theme-color: var(--bloc-slider-theme);

	&-gap {
		gap: var(--bloc-slider-gap);
	}

	&-slide {
		position: relative;

		&-inner {
			position: relative;
		}
	}

	&-background-image {
		inset: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		object-fit: cover;
	}
}
