/**
 * The following styles get applied both on the front end and in the editor.
 */
@use "common/vars";

// Custom properties
:root {
	--bloc-slider-gap: 20px;
	--bloc-slider-theme: currentColor;
}

// Block styles
.bloc-slider {
	--swiper-theme-color: var(--bloc-grid-slider-theme);

	position: relative;
	gap: var(--bloc-grid-slider-gap);
}
